
@model KpiNew.Dtos.RoleDto

  
<table class="row">
    <th class="com-sm-2">
         Name :
    </th>

    <td class="com-sm-10">
        @Model.Name
        
    </td>

    <th class="com-sm-2">
        RoleName :
    </th>

    <td class="com-sm-10">
        @Model.Description
    </td>

</table>


